<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistemas Microinformática</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="container">
	<center>
	<header>
		<br>
		<img src="./img/informatica.jpeg" alt="" style="height: 150px; width: 150px;"/>
		<div class="p-5 text-center" style="background-color:bisque">
		  <h1 class="mb-3">Sistemas Microinformática</h1>
		  <h2 class="mb-3">Recursos Humanos</h2>
		</div>
	  
</center>