
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Acerca de la Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Ingreso de Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Contactos</a>
          </li>
        </ul>
      </div>
    </div> -->
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:white">Acerca de la Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./recursoshumanos" style="color:white">Ingreso de Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Contactos</a>
          </li>
 
        </ul>
      </div>
    </div>
  </nav>

</header>
<br>
<br>