<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html');%>
<%-include('partials/menunav.html');%>
	<body style="background-color:bisque">
		<div class="container" style="background-color:cornflowerblue;border-color:black;">
			<br>
			<center>
<%	let subtotal=0; let totalfin=0; let impuesto=0; 
						if (nivel==1) {
							subtotal = (Number(pagoDiario) * Number(diasTrabajados)) * 1.20;
						}else if (nivel==2){
							subtotal = (Number(pagoDiario) * Number(diasTrabajados)) * 1.50;
						}else if(nivel==3){
							subtotal = (Number(pagoDiario) * Number(diasTrabajados)) * 2;
						} 
						impuesto=subtotal * .16;
						totalfin = Number(subtotal) - Number(impuesto); %>

                        <div class="contenedor">
                        <table>
                            <tr>
                                <th class="table-primary" style="padding-inline: 100px;">Nombre:</th>
                                <th class="table-warning" style="padding-inline: 100px;">Grado:</th>
                                <th class="table-danger" style="padding-inline: 100px;">Dias Trabajados:</th>
                                <th class="table-success" style="padding-inline: 100px;">Pago por Dia:</th>
                            </tr>

                            <td style="padding-inline: 100px;" >
                                <%=nombre%>
                            </td>
                            <td style="padding-inline: 100px;">
                                <% if(nivel==1){%>
									<label for="">Licenciatura</label>
									<% }else if(nivel==2){%>
										<label for="">Maestria</label>
										<%} else if(nivel==3){%>
                                            <label for="">Doctorado</label>
                                        <%}%>

                            </td>
                            <td style="padding-inline: 100px;">
                                <%=diasTrabajados%>
                            </td>
                            <td style="padding-inline: 100px;">
                                <%=pagoDiario%>
                            </td>
                        </tr>
                   
                        </table>
                    </div>

                        <!-- <div class="row mb-3" style="padding: 5%;">
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Nombre: </label> 
                            <label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=nombre%></label>

							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Grado: </label> 
                            <label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=nivel%></label>

							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Dias Trabajados: </label> 
                            <label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=diasTrabajados%></label>

							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Pago por Dia: </label> 
                            <label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=pagoDiario%></label>
                        </div> -->

						<div class="col mb-3">
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Subtotal: </label>
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=subtotal%></label>
                        </div>

						<div class="col mb-3">
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Impuestos %16: </label>
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=impuesto%></label>
                        </div>
		
						<div class="col mb-3">
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"> Total a pagar: </label>
							<label class="row-sm-2 row-form-label row-form-label" for="" style="color: black;"><%=totalfin%></label>
                        </div>
						</div>
                        <br>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
					<input type="reset" value="Limpiar" class="btn btn-secondary" />
		<br>
    </center>
</div>
<br>
<%-include('partials/piePagina.html');%>
</body>

</html>