<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html');%>
<%-include('partials/menunav.html');%>
	<body style="background-color:bisque">
		<div class="container" style="background-color:cornflowerblue;border-color:black">
			<br>
			<center>
				<form action="/paginasalida" method="post">
					<div class="col mb-3">
						<label class="col-sm-2 col-form-label col-form-label" style="color: whitesmoke;" for="">Numero de Contrato: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="number" name="numContrato" id="numContrato" required="true" />
						</div>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Nombre: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" name="nombre" id="nombre" required="true" />
						</div>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Domicilio: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" name="domicilio" id="domicilio" required="true" />
						</div>
						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Nivel de Estudios </label>
						<select class="col-sm-2 col-form-select col-form-select-sm" name="nivel" id="nivel">
							<option value="1">Licenciatura</option>
							<option value="2">Maestria</option>
							<option value="3">Doctorado</option>
						</select>
						<br>
						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Pago Diario Base: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="number" name="pagoDiario" id="pagoDiario" required="true" />
						</div>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Dias Trabajados: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="number" name="diasTrabajados" id="diasTrabajados" required="true" />
						</div>

						
					</div>

					<br />
					<button type="submit" class="btn btn-secondary">Enviar</button>
					<input type="reset" value="Limpiar" class="btn btn-secondary" />

					<%	let subtotal=0; let totalfin=0; let impuesto=0; 
						if (nivel==1) {
							subtotal = (Number(pagoDiario) * Number(diasTrabajados)) * 1.20;
						}else if (nivel==2){
							subtotal = (Number(pagoDiario) * Number(diasTrabajados)) * 1.50;
						}else if(nivel==3){
							subtotal = (Number(pagoDiario) * Number(diasTrabajados)) * 2;
						} 
						impuesto=subtotal * .16;
						totalfin = Number(subtotal) - Number(impuesto); %>

		<br>
		</form>

		<!-- <img src="./img/toyota.jpg" alt=""> -->
		</center>
		</div>
		<br>
		<%-include('partials/piePagina.html');%>
	</body>

</html>